
<div style=" width: 732px;min-height: 65px;
border: 1px solid #D9D9D9;
box-sizing: border-box;
border-radius: 6px;
margin-bottom: 14px;">
    <div class="contentUbigeo">
        <div style="width: 244px; min-height: 65px;">
            <div class="centerv titleUbigeo" style="margin-top:10px ; height: 16px;"><span style="margin: 0 auto;">Departamento:</span></div>
            <div style="align-items: center;justify-content: center; display: flex; min-height: 37px;width: 100%;">
                <span class="departamento" style="font-family: 'Calibri';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;"></span>
                </div>
             
            </div>
          
        <div style="width: 244px;min-height: 65px;">
            <div class="centerv titleUbigeo" style="margin-top:10px ; height: 16px;"><span style="margin: 0 auto;">Provincia:</span></div>
            <div style="align-items: center;justify-content: center; display: flex;min-height: 37px;width: 100%;">
                <span class="provincia" style="font-family: 'Calibri';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;"></span>
            </div>
            
        </div>
        <div style="width: 244px;min-height: 65px;">
            <div class="centerv titleUbigeo" style="margin-top:10px ; height: 16px;"><span style="margin: 0 auto;">Distrito:</span></div>
            <div style="align-items: center;justify-content: center; display: flex;min-height: 37px;width: 100%; ">
                <span class="distrito" style="font-family: 'Calibri';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;"></span>
            </div>
         
        </div>
    </div>
</div>