<div style="margin-top: 16px; height: 30px;width: 744px;">
    <div class="titleBar1">
        <div id="titulo2" style="margin: 0 auto;">Funciones con mayor inversión hasta el 2024 (Diciembre)</div>
    </div>
</div>
<div style="display: flex;align-items: center;width: 744px;">
    <div style="
    margin: 0 auto;display: flex;align-items: center;font-family: Calibri;
font-style: normal;
font-weight: normal;
font-size: 16px; min-height: 36px;width: 630px;">
        <svg width='16' height='16'><circle cx='8' cy='8' r='8' fill='#2479A7'/></svg>
        <span>&nbsp;&nbsp;Presupuesto Inicial Modificado (PIM)&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <svg width='16' height='16'><circle cx='8' cy='8' r='8' fill='#5CB731'/></svg>
        <span>&nbsp;&nbsp;Presupuesto Devengado&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <svg width='16' height='16'><circle cx='8' cy='8' r='8' fill='#FFD700'/></svg>
        <span>&nbsp;&nbsp;Presupuesto Girado</span>
    </div>
</div>
<div class="ContentBar">
    {% from "general/izquierda/cont-mayor-inversion.html" import ContBar%} {% for i in range(1,7) %} {{ContBar(i)}} {% endfor %}
</div>