<div style="width: 744px;min-height: 102px;
border: 1px solid #D9D9D9;
box-sizing: border-box;
border-radius: 6px;
margin-bottom: 28px;">
    <div class="contentUbigeo">
        <div style="width: 248px; min-height: 102px;">
            <div class="centerv titleUbigeo" style="height: 51px;"><span style="margin: 0 auto;">Departamento:</span></div>
            <div class="centerv textUbigeo" style="height: 51px;"><span style="margin: 0 auto;">{{u[0].d}}</span></div>

        </div>
        <div style="width: 248px;min-height: 102px;">
            <div class="centerv titleUbigeo" style="height: 51px;"><span style="margin: 0 auto;">Provincia:</span></div>
            <div class="centerv textUbigeo" style="height: 51px;"><span style="margin: 0 auto;">{{u[0].p}}</span></div>
        </div>
        <div style="width: 248px;min-height: 102px;">
            <div class="centerv titleUbigeo" style="height: 51px;"><span style="margin: 0 auto;">Distrito:</span></div>
            <div class="centerv textUbigeo" style="height: 51px;"><span style="margin: 0 auto;">{{u[0].i}}</span></div>
        </div>
    </div>
</div>