<div style="margin-top: 14px; width: 1508px;height: 975px;border: 1px solid #C4C4C4;box-sizing: border-box;border-radius: 12px;">
    <div style="min-height: 79px;width: 100%;">
        <div style=" margin-left: 56px; margin-top: 12px;width: 648px;min-height: 33px;">
            <span id="titulo3" style="font-family: Calibri;
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 34px;
        display: flex;
        align-items: center;
        
        color: #193D74;
        ">Ejecución de funciones</span>
        </div>
        <div style="margin-left: 56px; min-height: 22px;">
            <span style="font-family: Calibri;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;            
            color: #000000;
            ">Configurable por el usuariossss</span>
        </div>

        <div class="contentEjecucion">
            {% from "filter/right/cont-ejecucion-actual.html" import ContArea%} {% for i in range(1,7) %} {{ContArea(i)}} {% endfor %}
        </div>

    </div>

</div> <span style="font-family: Calibri;
font-style: normal;
font-weight: normal;
font-size: 16px;color: #828282;">{{mef[0].fecha_mef}}</span>