<div style="position: absolute;z-index: 1;width: 315px;top: 90px;height: 10px;left: 315px;
    font-family: Calibri;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    color: #193D74;
font-family: Calibri;font-style: normal;line-height: 10px;display: flex;align-items: center;background-color:white;">
    <p style="margin-left: 20px;"> Reporte de Inversiones</p>
</div>
<div style="width: 744px; display: flex; height: 78px; margin-bottom: 29px;">
    <div style="display: flex;align-items: center;"><img src="{{base + url_for('static', filename='img/logo_pcm.png')}}"></div>
    <div style="display: flex;align-items: center ; width:  325px; height: 78pxp; font-family: Calibri;
    font-style: normal;
    font-weight: bold;color:  #193D74;
    font-size: 26px;
    text-align: center;
line-height: 32px;">  <div><img src="{{base + url_for('static', filename='img/logo_pb.png')}}"></div>
<!-- <span id="titulo1" style="margin: 0 auto;">Reporte de Inversiones </br> (Función)</span>  -->
</div>
    <div><img src="{{base + url_for('static', filename='img/logo_geo.svg')}}"></div>
    <div></div>


</div>