
<div style="width: 744px;min-height: 102px;
border: 1px solid #D9D9D9;
box-sizing: border-box;
border-radius: 6px;
margin-bottom: 28px;">
    <div class="contentUbigeo">
        <div style="width: 248px; min-height: 102px;">
            <div class="centerv titleUbigeo" style="height: 51px;"><span style="margin: 0 auto;">Departamento:</span></div>
            
            <div class="select is-small" style="font-size: 18px;">
                <select id='SelectDpto' class="filtro-select-f" onchange="setProvDpto('1',this);setData();" >
                </select>
            </div>
        </div>
        <div style="width: 248px;min-height: 102px;">
            <div class="centerv titleUbigeo" style="height: 51px;"><span style="margin: 0 auto;">Provincia:</span></div>
            <div class="select is-small" style="font-size: 18px;">
                <select id='SelectProv' class="filtro-select-f" onchange="setProvDpto('2',this);setData();"> 
                </select>
            </div>
            
        </div>
        <div style="width: 248px;min-height: 102px;">
            <div class="centerv titleUbigeo" style="height: 51px;"><span style="margin: 0 auto;">Distrito:</span></div>
            
            <div class="select is-small" style="font-size: 18px;">
                <select id='SelectDist' class="filtro-select-f" onchange="setData();">
                </select>
            </div>
        </div>
    </div>
</div>